<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="Utf-8">
<title>Inicio</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
	integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="container py-5">


	<div class="p-5 bg-light rounded shadow mb-5"
		style="background: url('/mello.svg') no-repeat right; background-size: contain">


		<h1 class="text-primary display-5">Bien Venido a mi Agenda</h1>
		<p class="fw-bold mt-3">Con esta aplicacion podras gestionar tu
			agenda virtual</p>


		<p>consulta, crea. actualiza o elimana tus contactos de forma
			facil y segura.</p>

	</div>


	<div th:if="${msgExito != null}">[[${msgExito}]]</div>

	<h3>Mis Contactos</h3>

	<div class="alert alert-success alert-dismissible mt-3"
		th:if="${msgExito ne null}">
		[[${msgExito}]]
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>

	</div>


	<div class="text-end">
		<a href="/contacto/nuevo" class="btn btn-primary"><i
			class="fa fa-plus"></i> Registrar Contacto</a>
	</div>

	<form action="" method="get" autoComplete="off">
		<div class="row">
			<div class="col-lg-3 col-md-4">
				<div class="input-group mb-3">
					<button class="btn btn-primary" type="submit" id="button-addon1">
						<i class="fa fa-search"></i>
					</button>
					<input type="text" name="busqueda" class="form-control"
						placeholder="Buscar Por nombre" th:value="${param.busqueda}">
				</div>
			</div>
		</div>
	</form>
	<table class="table table-hover">

		<thead>
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>F.Nacimiento</th>
				<th>Celular</th>
				<th>Correo</th>

				<th>F.Registro</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="contacto : ${contactospage}" th:object="${contacto}">
				<!-- Si utilizo th:object="${contacto}" puedo usar *
			                                                               en vez de contacto  -->
				<td th:text="*{id}"></td>
				<td th:text="*{nombre}"></td>
				<td th:text="*{#temporals.format(fechaNacimiento, 'dd/MM/YYYY')}"></td>
				<td th:text="*{celular}"></td>
				<td th:text="${contacto.correo}"></td>
				<td
					th:text="*{#temporals.format(fechaRegistro, 'dd/MM/YYYY hh:mm a')}"></td>



				<td>

					<div class="btn-group btn-group-sm">
						<a th:href="@{/contacto/editar/{id}(id=*{id})}"
							class="btn btn-primary"><i class="fa fa-edit"></i></a>

						<button class="btn btn-danger" onclick="eliminarContacto(this)">
							<i class="fa fa-trash"></i>
						</button>

						<form th:action="@{/contacto/eliminar/{id}(id=*{id})}"
							method="post"></form>

					</div>
				</td>

			</tr>
		</tbody>




	</table>

	<div class="row">
		<div class="col-sm-6">
			<div sd:pagination-summary=""></div>
		</div>
		<div class="col-sm-6">
			<nav class="pull-right">
				<ul class="pagination" sd:pagination="full">

				</ul>
			</nav>
		</div>
	</div>





	<script type="text/javascript">
		function eliminarContacto(element) {

			//Resive el elemento boton al darle onclick y nextElementSibling nos ayuda a posesionarse en 
			//el siguiente elemento despues de ese boton q seria el formulario y al darle subrmit ejecuta el formiulario
			//podria enviar el id como actualizar pero por seguridad es mejor usar un pos que un get en actualizar

			let ok = confirm('¿Estas seguro de eliminar este registro?');
			//console.log('respuesta', ok);
			if (ok) {// si ok es verdadero da paso o enctra ene l if 

				element.nextElementSibling.submit();
			}

		}
	</script>
</body>
</html>